<div class="flex flex-col  px-5 h-full justify-end">
    <!-- this is gonna be a separate component -->
    <div class="flex h-fit" *ngFor="let message of messages">
            <img [src]="message.user.imagePath" class="h-10 w-10 rounded-full" />
            <!-- <h4 class="ml-3">{{username}}</h4> -->
            <div class="ml-3">
                <h1 class="font-medium text-pink-500">{{message.user.username}}</h1>
                <p class="text-white">{{message.message}}</p>
            </div>
    </div>
</div>