<div class="flex h-screen">
    <app-sidebar></app-sidebar>
    <div class="bg-gray-600 grow flex flex-col justify-between">
        <div class="bg-gray-700 flex items-center justify-center pb-2">
            <h1 class="font-bold text-gray-300 text-5xl">Hello, Let's Discover!</h1>
        </div>

        <div class="grow overflow-auto h-full" #scrollMe>
            <!-- servers -->
            <div class="flex flex-col gap-3 p-3">
                <div *ngFor="let server of servers">
                    <div class="bg-gray-800 p-3 rounded-md flex flex-col gap-3">
                        <div class="flex text-gray-300 gap-3  ">
                            <img class="w-32 rounded-2xl hover:cursor-pointer" [src]="server.imagePath" />
                            <div class="flex flex-col">
                                <h1 class="font-bold text-2xl border-b">{{server.name}}</h1>
                                <h2>{{server.description}}</h2>
                            </div>
                        </div>
                        <button class="bg-green-400 text-white rounded-sm font-bold py-2">JOIN</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>