<div class="flex h-screen">
    <app-sidebar></app-sidebar>
    <div class="w-56 h-screen bg-gray-700 flex justify-between flex-col" (mouseup)="detectRightClick($event, 'empty')">
        <div>
            <app-server-header [serverTitle]="server.name"></app-server-header>
            <div class="relative">
                <app-channels></app-channels>
                <app-right-click-menu [style]="rightClickMenuStyle"></app-right-click-menu>
            </div>
        </div>
        <app-user-info-bar></app-user-info-bar>
    </div>
    <div class="bg-gray-600 grow flex flex-col justify-between">
        <div>
            <app-chat-header [chatId]="serverId"></app-chat-header>
        </div>
        <div class="grow overflow-auto h-full" #scrollMe>
            <app-chat></app-chat>

            <!-- <div class="bg-red-400 flex flex-col justify-start items-start">

                <button (click)="increment()">Increment</button>

                <div>Current Count: {{ count$ | async }}</div>

                <button (click)="decrement()">Decrement</button>

                <button (click)="reset()">Reset Counter</button>
            </div> -->
        </div>
        <div class="bg-gray-500 m-5 rounded-xl">
            <app-text-box></app-text-box>
        </div>
    </div>
</div>