<div class="bg-gray-300 dark:bg-gray-800 w-20 h-screen flex items-center flex-col gap-2 p-3 overflow-auto scroll-smooth scrollbar-hide">
    <div class=" bg-slate-600 rounded-full hover:rounded-2xl flex">
        <i class="bi bi-chat-fill text-white px-5 py-4"></i>
    </div>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl"/>
</div>