<div class="bg-gray-300 dark:bg-gray-800 w-20 h-screen flex items-center flex-col gap-2 p-3 overflow-auto scroll-smooth scrollbar-hide">
    <div class=" bg-slate-600 rounded-full hover:rounded-2xl flex hover:cursor-pointer">
        <i class="bi bi-chat-fill text-white px-5 py-4"></i>
    </div>

    <div *ngFor="let server of servers">
        <img  src="../../../../assets/server-image.png" class="w-14 rounded-full hover:rounded-2xl hover:cursor-pointer"/>
    </div>


    <div class=" bg-slate-600 rounded-full hover:rounded-2xl text-green-300 hover:bg-green-400 hover:text-white flex hover:cursor-pointer">
        <i class="bi bi-plus-lg px-5 py-4 text-xl"></i>
    </div>

    <div class=" bg-slate-600 rounded-full hover:rounded-2xl text-green-300 hover:bg-green-400 hover:text-white flex hover:cursor-pointer">
        <i class="bi bi-compass-fill px-5 py-4 text-xl"></i>
    </div>
</div>