<div class="bg-gray-300 dark:bg-gray-800 w-20 h-screen flex items-center flex-col gap-2 p-3 overflow-auto scroll-smooth scrollbar-hide">
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
    <img src="../../../../assets/server-image.png" class="w-13 rounded-full hover:rounded-2xl"/>
</div>