<div class="mt-3 w-56 flex flex-col gap-3" *ngIf="!loading">
    <div class="flex flex-col text-gray-300" *ngFor="let category of categories">
        <div  class="flex items-center hover:text-gray-100  hover:cursor-pointer justify-between">
            <div class="flex items-center">
                <i class="bi bi-dot text-2xl"></i>
                <h4 class="text-sm font-bold">{{category.name}}</h4>
            </div>
            <i class="bi bi-plus mr-3" (click)="openCreateChannelModal(category)"></i>
        </div>
        <div *ngFor="let channel of category.channels" (click)="setChannel(channel)" [ngClass]="getClass(channel.id)"  class="flex items-center pl-3 hover:text-gray-100 hover:bg-gray-600 hover:cursor-pointer">
            <h1 class="py-1">
                {{channel.name}}
            </h1>
        </div>
    </div>
</div>